@import "tailwindcss";

@theme {

    --color-background: #fafafa;
    --color-foreground: #1f2622;

    --color-primary: #196640;
    --color-primary-foreground: #fafafa;
    --color-primary-hover: #125433;

    --color-muted: #eef1f0;
    --color-muted-foreground: #677e73;

    --color-popover: #ffffff;
    --popover-foreground: #1f2e26;
}