@import "tailwindcss";

@theme {

    --color-background: #fafafa;
    --color-foreground: #1f2622;

    --color-primary: #196640;
    --color-primary-foreground: #fafafa;
    --color-primary-hover: #125433;

    --color-muted: #eef1f0;
    --color-muted-foreground: #677e73;

    --color-popover: #ffffff;
    --popover-foreground: #1f2e26;

    --color-success: #29a329;
    --color-success-foreground: #fafafa;

    --color-border: #e2e8f0;

    --color-accent: #deede6;
    --color-accent-foreground: #196640;
}